# {{ ansible_managed }}

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'egel/tmux-gruvbox'

# remap prefix from 'C-b' to 'C-t'
unbind C-b
set -g prefix C-t
bind-key C-t send-prefix
# Switch to last session
bind-key C-t switch-client -l
# Switch to last window (this is the default binding)
bind-key C-l last-window

# Workaround to clear the screen (this is because of vim-tmux-navigator)
bind C-l send-keys 'C-l'

# Source config file (r/s will conflict with resurrect plugin)
# bind r source-file ~/.tmux.conf

# Start windows index at 1 instead of 0
set -g base-index 1

# Start pane index at 1 instead of 0
setw -g pane-base-index 1

set -g renumber-windows on

# Highlight window when it has new activity
setw -g monitor-activity on
set -g visual-activity off

unbind '"'
unbind %
bind = split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"

# Popup binding specifically for Alacritty. For Kitty use -E
# bind-key -n C-u display-popup -e "nvim /code/dzintars/agora/ -c ZkNew --dir=daily"
bind -n C-u display-popup -e "echo #{pane_current_path}"

# switch panes using Alt-arrow without prefix
# bind -n M-Left select-pane -L
# bind -n M-Right select-pane -R
# bind -n M-Up select-pane -U
# bind -n M-Down select-pane -D

# Switch panes using Alt-hjkl without prefix
# bind -n M-h select-pane -L
# bind -n M-j select-pane -D
# bind -n M-k select-pane -U
# bind -n M-l select-pane -R

# Change active pane
# bind-key h select-pane -L
# bind-key j select-pane -D
# bind-key k select-pane -U
# bind-key l select-pane -R

# Resize pane
# bind-key -r H resize-pane -L 5
# bind-key -r J resize-pane -D 5
# bind-key -r K resize-pane -U 5
# bind-key -r L resize-pane -R 5

# Shift arrow to switch windows
# bind -n S-Left  previous-window
# bind -n S-Right next-window
# `-r` a
# bind-key -r C-h select-window -t :-
# bind-key -r C-l select-window -t :+

# Enable mouse mode
set -g mouse on

set -g focus-events on
set -g visual-bell on

# NeoVim ERROR: escape-time (500) is higher than 300ms
# set-option -sg escape-time 10

# True color for the Vim
set  -g default-terminal "tmux-256color"
# set -gas terminal-overrides ',alacritty:RGB'
set -sa terminal-features ',alacritty:RGB'
# Added next 2 lines because of folke/lsp-colors readme
# set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm'  # undercurl support
# set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'  # underscore colours - needs tmux-3.0

set -g @tmux-gruvbox 'light' # or 'light'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '{{ tmux_config_path }}/plugins/tpm/tpm'
