* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  --color-success-10: hsl(100deg 100% 38% / 100%);

  color: var(--color-success-10, red, #af0221);
  font-size: 4rem;
}
