# Artifacts are typically placed in a directory called "dist"
# Be aware that this setup will still create a bazel-out symlink in
# your project directory, which you must exclude from version control and your
# editor's search path.
#build --symlink_prefix=dist/

build --explain ./bazel-explain.txt
build --verbose_failures --define=DEBUG=1
build --verbose_explanations
build --worker_sandboxing

# build --verbose_failures
# --repository_cache for fetched externals
# --disk_cache for build artifacts

build --repository_cache=~/.cache/bazel-repo
fetch --repository_cache=~/.cache/bazel-repo
query --repository_cache=~/.cache/bazel-repo
build --disk_cache=~/.cache/bazel-disk

build --color=yes
