build --explain ./bazel-explain.txt
build --verbose_failures --define=DEBUG=1
build --verbose_explanations
build --worker_sandboxing

# build --verbose_failures
# --repository_cache for fetched externals
# --disk_cache for build artifacts

build --repository_cache=~/.cache/bazel-repo
fetch --repository_cache=~/.cache/bazel-repo
query --repository_cache=~/.cache/bazel-repo
build --disk_cache=~/.cache/bazel-disk

build --color=yes
