<network>
  <name>default</name>
  <bridge name="virbr0"/>
  <forward/>
  <ip address="192.172.28.1" netmask="255.255.255.0">
    <dhcp>
      <range start="192.172.28.2" end="192.172.28.254"/>
    </dhcp>
  </ip>
</network>
