[gerrit]
        basePath = git
        canonicalWebUrl = https://gerrit.oswee.dev
        serverId = ff8114be-c7f5-45aa-b5cc-91b9557e5a14
[index]
        type = LUCENE
[auth]
        type = OAUTH
        #type = DEVELOPMENT_BECOME_ANY_ACCOUNT
        #trustedOpenID = https://sso.oswee.dev
[sendemail]
        smtpServer = localhost
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = proxy-https://*:8080
[cache]
        directory = cache
[plugins]
        allowRemoteAdmin = true
[container]
        javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
        javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
        user = gerrit
        javaHome = /usr/lib/jvm/java-11-openjdk-11.0.19.0.7-4.el9.alma.x86_64
[receive]
        enableSignedPush = false
[plugin "gerrit-oauth-provider-keycloak-oauth"]
        root-url = https://sso.oswee.dev
        client-id = gerrit
        #realm = oswee
        #client-secret = JFRurIGfbBOIqbpW8DYItjTmS4WiNOOc
        realm = gerrit
        client-secret = fFDDMO4Fdx7VtlkTyAZScBugbc0sHa0Z
[database]
        type = mysql
        hostname = localhost
        database = gerritdb
        username = gerrit
        password = gerritsecret
