authoritative;

option              routers                 {{ dhcp_network }}.254;
option              broadcast-address       {{ dhcp_network }}.255;
option              subnet-mask             255.255.255.0;
option              domain-name-servers     {{ dhcp_network }}.252;
option              ntp-servers             time.cloudflare.com;
option              domain-search           "{{ dhcp_domain_search }}";
option              domain-name             "{{ dhcp_domain_name }}";


subnet {{ dhcp_network }}.0 netmask 255.255.255.0 {
  range {{ dhcp_network }}.1 {{ dhcp_network }}.250;
  option routers {{ dhcp_network }}.254;
}
