# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

ui = true

disable_mlock = true

#log_level = "warn"

storage "raft" {
  path    = "{{ vault_data_path }}"
  node_id = "node1"
}

listener "tcp" {
  address       = "{{ ip_addr }}:8200"
  tls_disable   = true
}

api_addr = "http://127.0.0.1:8200"
cluster_addr = "http://127.0.0.1:8201"
