# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

ui = true

disable_mlock = true

#log_level = "warn"

storage "raft" {
  path    = "{{ vault_db_path }}"
  node_id = "node1"
}

listener "tcp" {
  address       = "127.0.0.1:8200"
  tls_cert_file = "{{ vault_tls_path }}/fullchain.pem"
  tls_key_file  = "{{ vault_tls_path }}/privkey.pem"
}

api_addr = "{{ vault_url }}"
cluster_addr = "{{ vault_url }}:8201"
