[Unit]
Description=Sign a new host cert on boot, then daily

[Service]
ExecStart=/bin/sh {{ jenkins_home }}/.ssh/sign-jenkins-ssh-cert.sh
Restart=on-failure
RestartSec=20
Type=forking
User={{ jenkins_user }}
Group={{ jenkins_group }}
