[user]
  name = {{ become_user_full_name }}
  email = {{ become_user_email }}
  signingkey = {{ gpg_signing_key_fingerprint }}

[alias]
  s = status -sb
  b = branch -v
  co = checkout
  p = push
  c = commit

  # Take all uncommitted and un-staged changes currently in the working
  # directory and add them to the previous commit, amending it before pushing the change up
  caa = commit -a --amend -C HEAD

  tags = tag -l
  cap = commit --amend --patch
  a = add
  # Remove branches which are merged on remote https://blogs.atlassian.com/2014/10/advanced-git-aliases/
  local-prune = !bash -c 'git branch --merged ${1:-master} | grep -v ${1:-master} | xargs -r git branch -d'

[core]
  editor = nvim

[commit]
  gpgsign = true

[tag]
  gpgSign = true

[push]
  default = current

[color]
  ui = true

[init]
  templatedir = ~/.git-templates
  defaultBranch = main

[gpg]
  program = gpg2
