{{ ansible_managed | comment }}

# create new
# set default charaset
# if not set, default is [latin1]
# for the case of 4 bytes UTF-8, specify [utf8mb4]
# for the case of 3 bytes UTF-8, specify [utf8mb3] (deprecated)
# [utf8] ⇒ alias of [utf8mb3]

[mysqld]
character-set-server = utf8mb4

[client]
default-character-set = utf8mb4
