{
    "id": "bootstrap",
    "name": "OCP Bootstrap node",
    "ignition_id": "bootstrap.ign",
    "boot": {
        "kernel": "/assets/{{ kernel }}",
        "initrd": [
            "/assets/{{ initramfs }}"
        ],
        "args": [
            "ip=dhcp",
            "rd.neednet=1",
            "console=tty0",
            "console=ttyS0",
            "coreos.inst=yes",
            "coreos.inst.install_dev=vda",
            "coreos.inst.image_url=http://{{ hostname }}.{{ cluster_name }}.{{ dns_domain_name }}:8080/assets/{{ bios }}",
            "coreos.inst.ignition_url=http://{{ hostname }}.{{ cluster_name }}.{{ dns_domain_name }}:8080/ignition?mac=${mac:hexhyp}"
        ]
    }
}
