[Desktop Entry]
Name[en_US]=Minecraft Launcher
Version=1.0
Exec=bash -c "/home/dzintars/Games/minecraft-launcher"
Terminal=false
Type=Application
Icon=minecraft
StartupWMClass=minecraft
Categories=Games
