[galaxy]
role_skeleton = .skeleton

[defaults]
nocows              = true
remote_user         = ansible

# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_paths   = ./collections
# You can specify multiple locations as well
# collections_paths=~/.ansible/collections:../../../

roles_path          = ./roles

ansible_force_colors = false
ansible_python_interpreter = /usr/bin/python3
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
vault_password_file = ~/.secrets/ansible/vault.oswee.key
stdout_callback = 'yaml'  ; To get pretty output
# TODO: Place log file in a more secure location.
# log_path = /var/log/ansible/ansible.log

[ssh_connection]
# ssh_args var is moved into specific environment
# ssh_args = -F ./environments/development/.ssh/config
pipelining = true
timeout = 30
# hosts_key_checking  = true

# Reuse SSH connections to speed up remote login.
#control_path = %(directory)s/%%h-%%r
# control_path = /tmp/ansible-ssh-%%h-%%p-%%r
