$TTL 900

@   IN  SOA {{ cluster.nodes['bastion'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.    hostmaster.{{ cluster.name }}.{{ cluster.fqdn }}. (
        2019062001  ; serial
        3H          ; refresh (3 hours)
        30M         ; retry (30 minutes)
        1W          ; expiry (2 weeks)
        3h )        ; minimum (1 week)

    IN  NS  {{ cluster.nodes['bastion'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['bastion'].host }} IN  PTR {{ cluster.nodes['bastion'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['bastion'].host }} IN  PTR api.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['bastion'].host }} IN  PTR api-int.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['bastion'].host }} IN  PTR apps.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['bootstrap-0'].host }} IN  PTR {{ cluster.nodes['bootstrap-0'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['master-0'].host }}  IN  PTR {{ cluster.nodes['master-0'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['master-1'].host }}  IN  PTR {{ cluster.nodes['master-1'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['master-2'].host }}  IN  PTR {{ cluster.nodes['master-2'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['infnod-0'].host }}  IN  PTR {{ cluster.nodes['infnod-0'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['infnod-1'].host }}  IN  PTR {{ cluster.nodes['infnod-1'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['cptnod-0'].host }}  IN  PTR {{ cluster.nodes['cptnod-0'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['cptnod-1'].host }}  IN  PTR {{ cluster.nodes['cptnod-1'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['cptnod-2'].host }}  IN  PTR {{ cluster.nodes['cptnod-2'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
;EOF