$TTL 900

@           IN  SOA {{ cluster.nodes['bastion'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.    hostmaster.{{ cluster.name }}.{{ cluster.fqdn }}. (
            2019062002      ; serial
            3H              ; refresh (3 hours)
            30M             ; retry (30 minutes)
            1W              ; expiry (1 week)
            3H )            ; minimum (3 hours)

            IN  NS  {{ cluster.nodes['bastion'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}.
{{ cluster.nodes['bastion'].name }}     IN  A   {{ cluster.network }}.{{ cluster.nodes['bastion'].host }}
{{ cluster.nodes['bootstrap-0'].name }} IN  A   {{ cluster.network }}.{{ cluster.nodes['bootstrap-0'].host }}
{{ cluster.nodes['master-0'].name }}    IN  A   {{ cluster.network }}.{{ cluster.nodes['master-0'].host }}
{{ cluster.nodes['master-1'].name }}    IN  A   {{ cluster.network }}.{{ cluster.nodes['master-1'].host }}
{{ cluster.nodes['master-2'].name }}    IN  A   {{ cluster.network }}.{{ cluster.nodes['master-2'].host }}
{{ cluster.nodes['infnod-0'].name }}    IN  A   {{ cluster.network }}.{{ cluster.nodes['infnod-0'].host }}
{{ cluster.nodes['infnod-1'].name }}    IN  A   {{ cluster.network }}.{{ cluster.nodes['infnod-1'].host }}
{{ cluster.nodes['cptnod-0'].name }}    IN  A   {{ cluster.network }}.{{ cluster.nodes['cptnod-0'].host }}
{{ cluster.nodes['cptnod-1'].name }}    IN  A   {{ cluster.network }}.{{ cluster.nodes['cptnod-1'].host }}
{{ cluster.nodes['cptnod-2'].name }}    IN  A   {{ cluster.network }}.{{ cluster.nodes['cptnod-2'].host }}
api         IN  A   {{ cluster.network }}.{{ cluster.nodes['bastion'].host }}
api-int     IN  A   {{ cluster.network }}.{{ cluster.nodes['bastion'].host }}
apps        IN  A   {{ cluster.network }}.{{ cluster.nodes['bastion'].host }}
*.apps      IN  A   {{ cluster.network }}.{{ cluster.nodes['bastion'].host }}
etcd-0      IN  A   {{ cluster.network }}.{{ cluster.nodes['master-0'].host }}
etcd-1      IN  A   {{ cluster.network }}.{{ cluster.nodes['master-1'].host }}
etcd-2      IN  A   {{ cluster.network }}.{{ cluster.nodes['master-2'].host }}
_etcd-server-ssl._tcp   IN  SRV 0   10  2380    etcd-0.{{ cluster.name }}.{{ cluster.fqdn }}.
                        IN  SRV 0   10  2380    etcd-1.{{ cluster.name }}.{{ cluster.fqdn }}.
                        IN  SRV 0   10  2380    etcd-2.{{ cluster.name }}.{{ cluster.fqdn }}.
;EOF