# Loaded at every shell session

export ZSH="/home/dzintars/.oh-my-zsh"
plugins=(git zsh-autosuggestions vi-mode)
source $ZSH/oh-my-zsh.sh

# Aliases
alias luamake=/home/dzintars/code/github.com/sumneko/lua-language-server/3rd/luamake/luamake

# https://youtu.be/1a5NiMhqAR0?t=101
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_OPS="--extended --height 40% --layout=reverse --border"

autoload -U +X bashcompinit && bashcompinit

# Enable vi mode
bindkey -v

source /home/dzintars/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
