MINIO_ACCESS_KEY="minio"
MINIO_SECRET_KEY="miniostorage"
MINIO_VOLUMES={{ minio_volumes }}
MINIO_OPTS="-C /etc/minio --address :{{ minio_server_port }}"
MINIO_REGION_NAME="eu-north-1"
MINIO_REGION_COMMENT="Europe (Riga)"
MINIO_DOMAIN={{ minio_domain }}
