MINIO_VOLUMES="{{ minio_volumes }}"
MINIO_ADDRESS=":{{ minio_server_port }}"
MINIO_CONSOLE_ADDRESS=":{{ minio_console_port }}"
MINIO_REGION_NAME=eu-north-1
MINIO_REGION_COMMENT=Europe (Riga)
MINIO_DOMAIN={{ minio_domain }}
MINIO_ROOT_USER=Root-User
MINIO_ROOT_PASSWORD=Root-Password
